*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header .link {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-right: 100px;
}
header .link a{
    text-decoration: none;
    
}

table, tr, td{
    border: 1px solid rgb(166, 161, 161);
    border-collapse: collapse;
    height: 50px;
    width: 550px;
    background-color: rgb(229, 229, 229);
}
.num{
    background-color: white;
    text-align: center;
}
.sign{
    text-align: center;
}
td{
    text-align: center;
}
#display{
    width: 43%;
    height: 40px;
}
